doctype html
html
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- include ./partials/navbar
    #root
    //- .container: .content(style=".content {margin-top:20px}")
    //-   include partials/flash
    //-   block content

    //- include ./partials/footer
    block scripts
      script(src='//localhost:8080/dist/client.js')